<?php
/**
 *
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 *  @category  BSS
 *  @package   Bss_ProductLabel
 *  @author    Extension Team
 *  @copyright Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 *  @license   http://bsscommerce.com/Bss-Commerce-License.txt
 */

// @codingStandardsIgnoreFile

/**
 * Label image display
 * @var $block \Bss\ProductLabel\Block\Label
 */
?>

<?php
$labelData = $block->getLabelData();
$productId = $block->getProduct()->getId();
?>

<?php if (!empty($labelData)): ?>
	<div class="bss-label-productlist">
	    <?php foreach ($labelData as $imageData): ?>

	        <div class='label-image' data-product-id='<?php echo $imageData['product_id'] ?>'
	             is-main-product='<?php echo $imageData['product_id'] == $productId ? 'true' : 'false' ?>'
	             data-display="<?php echo $imageData['product_id'] == $productId ? 'block' : 'none' ?>"
	             data-background-image="<?php echo $imageData['image'] ?>" data-width="<?php echo $imageData['width'] ?>%"
	             data-height="<?php echo $imageData['height'] ?>%" data-top="<?php echo $imageData['top'] ?>%"
	             data-left="<?php echo $imageData['left'] ?>%" data-priority="<?php echo $imageData['priority'] ?>">
	        </div>

	    <?php endforeach; ?>
	  </div>
<?php endif; ?>
